*{
font-family: Arial, sans-serif;
}

body{
  display: flex;
  height: 100vh;
  overflow: hidden;

}

  section{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
}

  .conteneur{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
  }

  .image{
    display: flex;
    justify-content: center;
    width: 100%;

  }

form{
  width: 99.9%;
}

  input{
    outline: none;
    height: 30px;
    padding: 2.5px 0 2.5px 10px;
    margin: 30px  0 30px 0;
    width: 98%;
    border:
  }

  input[type="text"]
{
    font-size:24px;
}

button{
  margin: 0 5px 0 5px;
  outline: none;
  border: none;
  border-radius: 2px;
  width: 150px;
  height: 35px;
  padding: 5px;
  background: #F2F2F2;
}

button:hover{
  border : 1px solid #c6c6c6;
}

.boutons{
  display: flex;
  justify-content: center;
}

.divs{
  width: 100%;
  height: 50%;
}

span{
  padding-left: 40px;
}

#div1{
  display: flex;
  border: 1px solid lightgrey;
  justify-content: flex-start;
  align-items: center;
}

footer{
  display: flex;
  flex-direction:column;
  position: absolute;
  z-index: 3;
  bottom : 0;
  left: 0;
  height: 12.5%;
  width: 100%;
  background: #F2F2F2;
}

.menu-footer{
  width: 50%;
  height: 100%;
}

#div2{
  display: flex;
}

#gauche{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

ul{
  list-style-type: none;
  list-style: none;
  display: flex;
  flex-direction: row;
}

li{
  margin-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#droite{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

a{
  text-decoration:  none;
  color: grey;
}

a:hover{
  text-decoration: underline;
}

nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  position: absolute;
}

#connexion{
  background: #4386F8;
}
