body{

}

  section{
    display: flex;
    height: 100vh;
    overflow: hidden;


  }

  .conteneur{
    margin: auto;
    flex-direction: column;
  }

  input{
    outline: none;
    width: 400px;

  }

.recherche{
  flex-direction:column;
  justify-content:center;

}
